@use "../../styles/shared.scss" as shared;

.title{
    @include shared.font-unbounded(600);
    grid-column: 1 / -1;

    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
    @include shared.not-mobile {
        font-size: 2 * shared.$desktop-actionable-font-size;
        line-height: 2.5;
    }
}