@use '../../../styles/shared.scss' as shared;

.link{
    text-decoration: none;
    color: shared.$black;
    @include shared.mobile-only {
        display: none;
    }
    @include shared.not-mobile {
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
     }
  }

.item {
    position: relative;
    @include shared.mobile-only {
        display: none;
    }
    @include shared.not-mobile {
        grid-column-end: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px 9px 0px 0px;
     }
     span {
        transition: all .5s;
        @include shared.font-unbounded(400);
        @include shared.tablet-only{
            font-size: shared.$tablet-actionable-font-size;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            //line-height: 2.5* shared.$tablet-spacing;
        }
        @include shared.desktop-only{
            font-size:shared.$desktop-actionable-font-size;
            line-height: 1.2rem;
            padding-top: 2.4rem;
            padding-bottom: 3.2rem;
        }
        &:hover{
            @include shared.font-weight-transition;
            // @include shared.font-unbounded(600);
            font-size: shared.$desktop-actionable-font-size + 0.2rem;
    }
    }
    &_selected {
        background-color: shared.$white;
        border-top: 2px solid shared.$black;
        border-left: 2px solid shared.$black;
        border-right: 2px solid shared.$black;
        border-bottom: 2px solid shared.$white;
        margin-bottom: -2px;
        padding-bottom: -2px;
        text-shadow: none;
        span{
            @include shared.font-unbounded(600);
            &:hover{
                text-shadow: none;
                font-size: shared.$desktop-actionable-font-size;
            }
        }
    }
    &.phantom {
        @include shared.tablet-only{
            display: none;
        }
        
    }
}
/*.selected_bar {
    position: absolute;
    background: shared.$light-blue;
    border-radius: 9px;
    height: 8px;
    width: 100%;
    top: 100%;
}*/