@use '../../../styles/shared.scss' as shared;

.item {
    position: relative;
    @include shared.mobile-only {
        display: none;
    }
    @include shared.not-mobile {
        grid-column-end: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     span {
        @include shared.font-unbounded(400);
        @include shared.tablet-only{
            font-size: shared.$tablet-actionable-font-size;
            line-height: 2.5* shared.$tablet-spacing;
        }
        @include shared.desktop-only{
            font-size:shared.$desktop-actionable-font-size;
            line-height: 3.75* shared.$desktop-spacing;
        }  
    }
    &_selected {
        background-color: shared.$white;
        border-top: 2px solid shared.$black;
        border-left: 2px solid shared.$black;
        border-right: 2px solid shared.$black;
        border-bottom: 2px solid shared.$white;
        margin-bottom: -2px;
        padding-bottom: -2px;
    }
    &.phantom {
        @include shared.tablet-only{
            display: none;
        }
        
    }
}
/*.selected_bar {
    position: absolute;
    background: shared.$light-blue;
    border-radius: 9px;
    height: 8px;
    width: 100%;
    top: 100%;
}*/