@use '../../../styles/shared.scss' as shared;

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submenu_bar{
    @include shared.mobile-only{
        display: none;
    }
    @include shared.not-mobile {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        background-color: shared.$white;
        box-sizing: border-box;
    }
    @include shared.tablet-only{
        width: 85%;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        min-height: 5.6rem;
    }
    @include shared.desktop-only{
        width: 80%;
        max-width: 1200px;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        min-height: 12.8rem;
    }
    &_item {
        @include shared.font-montserrat(400);
        display: flex;
        align-items: center;
        text-transform: lowercase;
        transition: all .5s;
        @include shared.tablet-only{
            font-size : shared.$tablet-reading-font-size;
            line-height: 2.4rem;
        }
        @include shared.desktop-only{
            font-size : shared.$desktop-reading-font-size;
            line-height: 2.9rem;
        }
        &:hover{
            @include shared.font-weight-transition;
            @include shared.font-montserrat(500);
            font-size: x-large;
        }
        &_selected{
            @include shared.font-montserrat(700);
        }
    }
    &_separator{
        border-left: 1px solid grey;
    }
}
