@use '../../styles/shared.scss' as shared;

.container {
    border: 2px solid shared.$black;
    border-radius: 9px;
    text-align: left;

    margin-top: 2*shared.$mobile-spacing;

    padding:  2*shared.$mobile-spacing;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}