@use '../../styles/shared.scss';

.item {
    display: block;
    max-width: 37.5 * shared.$spacing;
}
.item:not(:last-child){
    margin-bottom: 3*shared.$spacing;
}

.item h3{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 500;
    font-size: 1.875*shared.$spacing;
    line-height: 2.375*shared.$spacing;

    margin-bottom: shared.$spacing;

    display: inline-block;
}
.item p {
    font-family: 'Montserrat';
    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    margin: 0;
    display: block;

}