@use '../../styles/shared.scss';

.item {
    display: block;
    max-width: 300px;;
}

.item h3{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;

    margin-top: 16px;
    margin-bottom: 16px;

    display: inline-block;
}
.item p {
    font-family: 'Montserrat';
    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    margin: 0;
    display: block;

}