@use '../../../styles/shared.scss' as shared;

.datebox_container{
    border: 2px solid shared.$black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    background: shared.$light-blue;
    box-sizing: border-box;
    @include shared.mobile-only{
        padding: 1.6rem;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        min-height: 20.8rem;
    }

    @include shared.tablet-only{
        grid-column: span 4 ;
        min-height: 24rem;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        padding-left: shared.$tabletXspacing*4;
        padding-right: shared.$tabletXspacing*4;
    }
    @include shared.desktop-only{
        min-height: 27.6rem;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        padding-left: shared.$desktopXspacing*3;
        padding-right: shared.$desktopXspacing*3;
    }
}

.event_text{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    max-width: 100%;
    @include shared.mobile-only{
        @include shared.font-unbounded(400);
        font-size: 2.4rem;
    }
    @include shared.tablet-only{
        @include shared.font-unbounded(500);
        font-size: 2.2rem;
        line-height: 3rem;
    }
    @include shared.desktop-only{
        @include shared.font-unbounded(500);
        font-size: 3.4rem;
        line-height: 3.8rem;
        flex-grow: 1;
    }
    
}
.date {
    @include shared.font-montserrat(400);
    @include shared.mobile-only{
        font-size: 1.6rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
    @include shared.tablet-only{
        font-size: shared.$tablet-reading-font-size;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
    @include shared.desktop-only{
        font-size: shared.$desktop-reading-font-size;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        
    }
    
}

.category{
    @include shared.font-unbounded(500);
    background: shared.$white;
    border: 2px solid shared.$black;
    border-radius: 9px;
    font-size: 1.2rem;
    @include shared.mobile-only{
        padding-top: .4rem;
        padding-bottom: .4rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }
    @include shared.tablet-only{
        padding-top: .8rem;
        padding-bottom: .8rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    @include shared.desktop-only{
        padding-top: .8rem;
        padding-bottom: .8rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    &_container{
        flex-grow: 1;
        display: flex;
        flex-direction: column-reverse;
    }
}