@use '../../styles/shared.scss' as shared;

.icon {
    @include shared.mobile-only {
     }
    @include shared.not-mobile {
       display: none;
    } 
}
.navbar {
    @include shared.mobile-only{
        padding-top: 2.4rem;
        min-height: shared.$mobile-spacing * 4;
    }
    @include shared.tablet-only{
        grid-row: 1/2;
        grid-column: 1/-1;
        display: grid;
        @include shared.tablet-columns;
        grid-template-rows: 1fr;
        padding-top: 2.4rem;
        min-height: shared.$tabletYspacing * 4;
    }
    @include shared.desktop-only {
        grid-row: 1/2;
        grid-column: 1/-1;
        display: grid;
        @include shared.desktop-columns;
        grid-template-rows: 1fr;
        padding-top: shared.$desktop-spacing * 3;
        min-height: shared.$desktop-spacing * 4;
    }
    &_full {
        @extend .navbar;
        background-color: shared.$light-blue;
    }    
}
