@use '../../styles/shared.scss' as shared;

.item {
    @include shared.mobile-only {
        display: none;
    }
    @include shared.not-mobile {
        grid-column-end: span 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     span {
        @include shared.font-unbounded(400);
        @include shared.tablet-only{
            font-size: 2* shared.$tablet-spacing;
            line-height: 2.5* shared.$tablet-spacing;
        }
        @include shared.desktop-only{
            font-size:shared.$desktop-actionable-font-size;
            line-height: 3.75* shared.$desktop-spacing;
        }  
    }
}