@use '../../styles/shared.scss' as shared;

.title {
    @include shared.font-unbounded(600);
    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 2.5 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
  
    @include shared.not-mobile {
      font-size: 2 * shared.$desktop-actionable-font-size;
    }
  }

.menu_bar{
    list-style: none;
    display: flex;
    background-color: shared.$white;
    box-sizing: border-box;
    @include shared.mobile-only{
        flex-direction: column;
    }
    @include shared.not-mobile {
        justify-content: space-between;
    }
    @include shared.tablet-only{
        width: 85%;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
    @include shared.desktop-only{
        width: 80%;
        max-width: 1200px;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
    &_item {
        @include shared.font-montserrat(400);
        display: flex;
        align-items: center;
        text-transform: lowercase;
        transition: all .5s;
        @include shared.mobile-only{
            font-size : shared.$mobile-reading-font-size*1.25;
            width: 100%;
        }
        @include shared.tablet-only{
            font-size : shared.$tablet-reading-font-size;
            line-height: 2.4rem;
        }
        @include shared.desktop-only{
            font-size : shared.$desktop-reading-font-size;
            line-height: 2.9rem;
        }
        &:hover{
            @include shared.font-weight-transition;
            @include shared.font-montserrat(500);
            font-size: x-large;
        }
        &_selected{
            @include shared.font-montserrat(700);
        }
    }
    &_separator{
        @include shared.mobile-only{
            border-top: 1px solid grey;
            width: 100%;
        }
        @include shared.not-mobile{
            border-left: 1px solid grey;
            height: 100%;
        }
    }
}

.link{
    text-decoration: none;
    color: shared.$black;
  }