@use '../../styles/shared.scss' as shared;

.list{
    margin-left: 1.6rem;
    li + li {
      margin-top: 0.8rem;
    }  
}

.text{
    @include shared.font-montserrat(300);
  
    @include shared.mobile-only {
      font-size: shared.$mobile-reading-font-size;
    }
  
    @include shared.tablet-only {
      font-size: shared.$tablet-reading-font-size;
    }
  
    @include shared.desktop-only {
      font-size: shared.$desktop-reading-font-size;
    }
    & + .text{
      margin-top: 1.2rem;
    }
}

.bold{
      @include shared.font-montserrat(500);
    }

.list{
    list-style-position: inside;
}

.subtitle{
    @include shared.font-unbounded(500);
    margin: 1.2rem 0rem 1.2rem 0rem;
    @include shared.mobile-only {
      text-align: center;
      font-size: 2rem;
    }
    @include shared.tablet-only {
      text-align: left;
      font-size: 1.6rem;
    }
    @include shared.desktop-only {
      text-align: left;
      font-size: 2.6rem;
    }
  }

  .section_title{
    @include shared.font-unbounded(500);
    margin: 1rem 0rem 1rem 0rem;
    @include shared.mobile-only {
      text-align: center;
      font-size: 1.8rem;
    }
    @include shared.tablet-only {
      text-align: left;
      font-size: 1.5rem;
    }
    @include shared.desktop-only {
      text-align: left;
      font-size: 2.3rem;
    }
  }

.form{
    display: flex;
    margin-top: 1.2rem;
    @include shared.mobile-only {
      flex-direction: column;
    }
}

.documentation{
  display: flex;
  justify-content: flex-start;
  column-gap: 2.4rem;
  @include shared.mobile-only{
    flex-direction: column;
  }
}

.button{
  @include shared.mobile-only {
    flex-grow: 1;
  }
  @include shared.tablet-only {
    flex-grow: 0.5;
  }
  @include shared.desktop-only {
    flex-grow: 0.3;
  }
}

.arrow{
  @include shared.not-desktop{
    display: none;
  }
  @include shared.desktop-only{
    display: block;
    transform: rotate(90deg);
  }
}
