@use '../../../styles/shared.scss' as shared;

.container{
    padding-top: 5.6rem;
    @include shared.tablet-only{
        padding-bottom: 6.4rem;
    }
    @include shared.desktop-only{
        padding-bottom: 8.6rem;
    }
    &:not(:last-child){
        border-bottom: 2px solid black;
    }
}

.title {
    @include shared.font-unbounded(300);
    @include shared.tablet-only{
        font-size: 2.8rem;
    }
    @include shared.desktop-only{
        font-size: 3.4rem;
    }
}

.events {
    margin-top: 3.2rem;
    display: grid;
    @include shared.tablet-only{
        @include shared.tablet-columns;
        row-gap: 2.4rem;  
    }
    @include shared.desktop-only{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 2rem;
        row-gap: 5rem;  
    }
}