@use "../../styles/shared.scss" as shared;

.calendar_title {
    @include shared.font-unbounded(500);

    @include shared.mobile-only {
      font-size: 2.9rem;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;  
    }
    @include shared.not-mobile{
        grid-column: 1/-1;
    }
    @include shared.desktop-only{
        font-size: 6rem;
        margin-bottom: 5.6rem;
    }
}

.divider {
    @include shared.mobile-only{
        margin-left: -12.5%;
        margin-right: -12.5%;
        width: 125%;
        border-color: shared.$black;
    }
    @include shared.not-mobile{
        display: none;
    }
}

.events {
    @include shared.mobile-only{
        margin-bottom: 2.4rem;
    }
    @include shared.not-mobile{
        display: none;
    }
}

.calendar {
    @include shared.mobile-only{
        display: none;
    }
    @include shared.not-mobile{
        grid-row: 3/4;
        grid-column: 1/-1;
    }
}