.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section {
    width: 80%;
}
.sectionTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
