@use '../../styles/shared.scss' as shared;

.main {
    background-color: shared.$white;
    padding-left: 5.5 * shared.$mobile-spacing;
    padding-right: 5.5 * shared.$mobile-spacing;

    @media (min-width:1025px) {
        display: grid;
        gap: 0 2.5 * shared.$desktop-spacing;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: 11*shared.$desktop-spacing 63*shared.$desktop-spacing 53*shared.$desktop-spacing max-content max-content;
        padding-left:  20 * shared.$desktop-spacing;
        padding-right: 20 * shared.$desktop-spacing;
       
    }
}

.sectionTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5 * shared.$mobile-spacing;
    line-height: 3*shared.$mobile-spacing;
    text-align: center;
    margin-top: 7*shared.$mobile-spacing;
}
.newsSection{
    @media (min-width:1025px) {
        grid-row: 3/4;
        grid-column: 1/6 ;
    }
    
}

.FAQSection{
    @media (min-width:1025px) {
        grid-row: 4/5;
        grid-column: 1/-1 ;
    }
    
}
.mainImage{
    height: 102.5*shared.$desktop-spacing;
    display: none;
    @media (min-width:1025px) {
        max-width: 50%;
        display: block;
        overflow: visible;
        grid-row: 2/4;
        grid-column: 6/-1;
    } 
}