@use "../../styles/shared.scss" as shared;


.title {
    @include shared.font-unbounded(600);
    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
    @include shared.not-mobile {
      grid-column: 1/-1;
      font-size: 2 * shared.$desktop-actionable-font-size;
      line-height: 2.5;
    }
  }

.description{
    @include shared.font-montserrat(400);
    @include shared.mobile-only{
        font-size: shared.$mobileXspacing * 1.78;
        line-height: shared.$mobileXspacing * 2;
        white-space: nowrap;
    }
    @include shared.tablet-only{
        grid-column: 1/-1;
        font-size: shared.$tabletXspacing * 1.96 ;
        line-height:  2*shared.$tabletXspacing;
        white-space: nowrap;
    }
    @include shared.desktop-only {
        grid-column: 1/-1;
        font-size: shared.$desktopXspacing * 3.225;
        line-height: shared.$desktopXspacing * 4;
        white-space: nowrap;
    }
    @include shared.largest {
        font-size: (shared.$desktopXlargest/180)  * 3.125;
        line-height: (shared.$desktopXlargest/180)  * 4;
    }
}

.middle_columns{
    grid-column: 2/-2;
}

.rounded_box {
    border: 2px solid shared.$black;
    border-radius: 9px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding:  2.4rem 1.6rem 2.4rem 1.6rem;
    h3 {
        @include shared.font-unbounded(500);
        @include shared.mobile-only {
          font-size: 1.3 * shared.$mobile-reading-font-size;
          width: 100%;
        }
        @include shared.not-mobile {
          align-self: center;
          font-size: shared.$desktop-actionable-font-size;
        }
      }
    p {
        @include shared.font-montserrat(300);
        @include shared.mobile-only {
            font-size: shared.$mobile-reading-font-size;
        }

        @include shared.tablet-only {
            font-size: shared.$tablet-reading-font-size;
        }
        @include shared.desktop-only {
            font-size: 0.85 * shared.$desktop-reading-font-size;
        }
    }
}
.category {
    grid-column: 1/-1;
    &_title{
        @include shared.font-unbounded(500);
        @include shared.mobile-only {
          font-size: 1.3 * shared.$mobile-reading-font-size;
          width: 100%;
        }
        @include shared.not-mobile {
          align-self: center;
          font-size: shared.$desktop-actionable-font-size;
        }
      }
    ul{
        list-style: none;
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        .tournament {
            display: flex;
            align-items: start;
            @include shared.not-mobile{
                justify-content: space-between;
            }
            &_name{
                @include shared.font-unbounded(500);
                @include shared.mobile-only {
                    font-size: shared.$mobile-reading-font-size;
                    width: 100%;
                    margin-bottom: 16px;
                }
            
                @include shared.not-mobile {
                    min-width: 25%;
                    width: 25%;
                    font-size: shared.$desktop-reading-font-size;
                    &::after{
                        content: ":";
                    }
                }
            }
            &_requirements{
                @include shared.font-montserrat(400);
                @include shared.mobile-only{
                    font-size: shared.$mobile-reading-font-size;
                };
                @include shared.not-mobile{
                    max-width: 72.5%;
                    font-size: shared.$desktop-reading-font-size;
                }
            }
            &:not(:last-child){
                margin-bottom: 1.6rem;
            }
        }
    }
}
