@use "../../styles/shared.scss" as shared;

.title {
    @include shared.font-unbounded(600);
    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
    @include shared.not-mobile {
      grid-column: 1/-1;
      font-size: 2 * shared.$desktop-actionable-font-size;
      line-height: 2.5;
    }
  }
.section{
    &_title {
        margin-top: 1.6rem;
        font-size: shared.$section-title-font-size;
        @include shared.font-montserrat(400);
        @include shared.mobile-only {
          text-align: center;
        }
        @include shared.tablet-only {
          text-align: left;
        }
        @include shared.desktop-only {
          text-align: left;
        }
      }
    &_content{
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        p, ul li {
            @include shared.font-montserrat(300);
            @include shared.mobile-only {
              font-size: shared.$mobile-reading-font-size;
              padding-bottom: 16px;
            }
          
            @include shared.tablet-only {
              font-size: shared.$tablet-reading-font-size;
              padding-bottom: 2 * shared.$tabletYspacing;
            }
          
            @include shared.desktop-only {
              font-size: 0.85 * shared.$desktop-reading-font-size;
              padding-bottom: 20px;
            }
          }
        ul li {
            display: flex;
            .level{
                min-width: 14rem;
                display: block;
            }
            .years{
                display: block;
                padding-left: .8rem;
            }
        }
        
    }
}

.bold{
    @include shared.font-montserrat(600);
  }


.warning_box {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 9px;
  
    @include shared.mobile-only {
      padding: 38px 16px 34px 16px;
    }
    @include shared.tablet-only {
        padding: 20px;
    }
    @include shared.desktop-only {
        padding: 2 * shared.$desktop-spacing 4 * shared.$desktopXspacing 2 * shared.$desktopXspacing 4 * shared.$desktopXspacing;
    }
    h3 {
        @include shared.font-unbounded(500);
        @include shared.mobile-only {
            font-size: 1.3 * shared.$mobile-reading-font-size;
            width: 100%;
            margin-bottom: 16px;
            &:after {
            content: ":";
            }
        }
        @include shared.not-mobile {
            align-self: center; 
            font-size: shared.$desktop-actionable-font-size;
        }
    }
    &_title {
        display: flex;
        &_icon {
            @include shared.mobile-only {
              display: none;
            }
          }
      }
    &_content {
        @include shared.font-montserrat(400);
        @include shared.mobile-only {
            font-size: shared.$mobile-actionable-font-size;
        }

        @include shared.tablet-only {
            font-size: shared.$tablet-actionable-font-size;
        }

        @include shared.desktop-only {
            font-size: 0.85*shared.$desktop-actionable-font-size;
        }
      }
}
  
  

