@use '../../styles/shared.scss' as shared;

.datebox_container{
    border: 2px solid shared.$black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.event_text{
    @include shared.font-unbounded(400);
    font-size: 2.4rem;
}
.date {
    @include shared.font-montserrat(400);
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.category{
    @include shared.font-unbounded(500);
    font-size: 1.2rem;
    background: shared.$light-blue;
    border: 2px solid shared.$black;
    border-radius: 9px;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
}