@use "../../styles/shared.scss" as shared;

.type {
    @include shared.mobile-only{
      display: block;
      @include shared.font-unbounded(400);
      font-size: 1.5 * shared.$mobile-reading-font-size;
      margin-top: 1.6rem;
    }
    @include shared.not-mobile{
      display: none;
    }
}


.title {
    @include shared.font-unbounded(600);

    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }

    @include shared.not-mobile {
      font-size: 2 * shared.$desktop-actionable-font-size;
      line-height: 2.5;
    }
}

.year_problems{
    &:not(:last-child){
        margin-bottom: 2.4rem;
    }
    .year_number{
        font-size: shared.$section-title-font-size;
        @include shared.font-unbounded(500);
        margin-bottom: .8rem;
        @include shared.mobile-only {
          text-align: center;
          line-height: 3 * shared.$mobile-spacing;
        }
        @include shared.tablet-only {
          text-align: left;
          line-height: 2.25 * shared.$tablet-max-spacing;
        }
        @include shared.desktop-only {
          text-align: left;
          line-height: 3 * shared.$desktop-spacing;
        }
      }
    .year_links{
        display: flex;
        column-gap: .8rem;
        @include shared.mobile-only{
            justify-content: center;
        }
        .link{
            @include shared.font-montserrat(400);
            display: flex;
            align-items: center;
            text-transform: lowercase;
            transition: all .5s;
            color: shared.$black;
            text-decoration: none;
            position: relative;
            @include shared.mobile-only{
                font-size : shared.$mobile-reading-font-size;
                line-height: 2.4rem;
            }
            @include shared.tablet-only{
                font-size : shared.$tablet-reading-font-size;
                line-height: 2.4rem;
            }
            @include shared.desktop-only{
                font-size : shared.$desktop-reading-font-size;
                line-height: 2.9rem;
            }
            &:hover{
                @include shared.font-weight-transition;
                @include shared.font-montserrat(500);
                font-size: x-large;
            }
            &:visited{
                color: purple;
            }
        }
    }
}
