@use "../../../../styles/shared.scss" as shared;

.title {
    @include shared.font-unbounded(600);
    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
    @include shared.not-mobile {
      grid-column: 1/-1;
      font-size: 2 * shared.$desktop-actionable-font-size;
      line-height: 2.5;
    }
  }

.section + .section{
  margin-top: 2rem;
}

.section_title {
    @include shared.font-unbounded(500);
    margin: 1.6rem 0rem 1.6rem 0rem;
    @include shared.mobile-only {
      text-align: center;
      font-size: 2.4rem;
    }
    @include shared.tablet-only {
      text-align: left;
      font-size: 2.2rem;
    }
    @include shared.desktop-only {
      text-align: left;
      font-size: 3.4rem;
    }
  }
  
.section_subtitle{
    @include shared.font-unbounded(500);
    margin: 1.2rem 0rem 1.2rem 0rem;
    @include shared.mobile-only {
      text-align: center;
      font-size: 2rem;
    }
    @include shared.tablet-only {
      text-align: left;
      font-size: 1.6rem;
    }
    @include shared.desktop-only {
      text-align: left;
      font-size: 2.6rem;
    }
  }
  
  .dropPoints{
    margin-top: .8rem;
    margin-bottom: .8rem;
    margin-left: 3.2rem 
  };  
  .text{
    @include shared.font-montserrat(300);
  
    @include shared.mobile-only {
      font-size: shared.$mobile-reading-font-size;
    }
  
    @include shared.tablet-only {
      font-size: shared.$tablet-reading-font-size;
    }
  
    @include shared.desktop-only {
      font-size: shared.$desktop-reading-font-size;
    }
    .bold{
      @include shared.font-montserrat(500);
    }
  }

.buttons{
  display: flex;
  column-gap: 2rem;
  @include shared.mobile-only{
    flex-direction: column;
  }
}  
.button_container{
    @include shared.mobile-only {
      width: 100%;
      text-align: center;
    }
  
    @include shared.tablet-only {
      width: 50%;
      margin-top: 2 * shared.$tablet-spacing;
    }
  
    @include shared.desktop-only {
      width: 40%;
      margin-top: 4 * shared.$desktop-spacing;
    }
  }
  
.arrow{
    @include shared.not-desktop{
      display: none;
    }
    @include shared.desktop-only{
      display: block;
      transform: rotate(90deg);
    }
}