@use "../../../../styles/shared.scss" as shared;

.title {
    @include shared.font-unbounded(600);
    @include shared.mobile-only {
      font-size: 2.4 * shared.$mobile-actionable-font-size;
      margin-top: 4 * shared.$mobile-spacing;
      margin-bottom: 2.5 * shared.$mobile-spacing;
    }
    @include shared.not-mobile {
      grid-column: 1/-1;
      font-size: 2 * shared.$desktop-actionable-font-size;
      line-height: 2.5;
    }
  }
.section{
    margin-top: 1.6rem;
}

.main_text{
  @include shared.font-montserrat(300);

  @include shared.mobile-only {
    font-size: shared.$mobile-reading-font-size;
  }

  @include shared.tablet-only {
    font-size: shared.$tablet-reading-font-size;
  }

  @include shared.desktop-only {
    font-size: shared.$desktop-reading-font-size;
  }
  .bold{
    @include shared.font-montserrat(500);
  }
}