@use '../../styles/shared.scss' as shared;

.collapsable{
    margin-top: 1.2rem;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 9px;
    border : 2px solid rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    h3{
        @include shared.font-unbounded(500);
        @include shared.mobile-only {
          font-size: 2rem;
        }
        @include shared.tablet-only {
          text-align: left;
          font-size: 1.6rem;
        }
        @include shared.desktop-only {
          text-align: left;
          font-size: 2.6rem;
        }
    }
}

.selected{
    background-color: shared.$light-blue;
}



.rotated{
    transform: rotate(90deg);
}

.content{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease-out;
  transition: padding 0.4s ease-out;
  padding: 0rem 1rem 0rem 1rem;
  &.open{
    max-height: 1000rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}



.arrow{
  transition: transform 0.2s ease-in-out;
}