@use "../../styles/shared.scss" as shared;

.border_box {
    border: 2px solid black;
    border-radius: 9px;
    width: 80%;
    &_container{
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
      display: flex;
      justify-content: center;
    }
    @include shared.mobile-only {
      padding: 2rem 1rem;
    }
  
    @include shared.not-mobile {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      padding: 1.6rem;
    }
  
    @include shared.tablet-only {
      line-height: 1.3;
    }
    padding: .5rem;
    h3{
      @include shared.font-unbounded(400);
      @include shared.mobile-only {
        font-size: shared.$mobile-reading-font-size;
      }
    
      @include shared.tablet-only {
        font-size: shared.$tablet-reading-font-size;
      }
    
      @include shared.desktop-only {
        font-size: 0.85 * shared.$desktop-reading-font-size; 
      }
    }
}

.bank_data{
  list-style: disc;
  list-style-position: inside;
  .item {
    @include shared.font-montserrat(300);
    margin-top: 1.6rem;
    display: list-item;
    @include shared.mobile-only {
      font-size: shared.$mobile-reading-font-size;
    }
  
    @include shared.tablet-only {
      font-size: shared.$tablet-reading-font-size;
    }
  
    @include shared.desktop-only {
      font-size: 0.85 * shared.$desktop-reading-font-size; 
    }
  }
}