@use "../../styles/shared.scss" as shared;


.title {
    @include shared.font-unbounded(800);
    margin: 6rem 0;
    font-size: 3rem
}

.container {
    @include shared.font-unbounded(400);

    grid-column: 1 /11;
    display: flex;
    flex-direction: column;

    * {
        margin-bottom: 2rem;
    }
}

.payment {
    border: 2px solid black;
  border-radius: 9px;
    @include shared.mobile-only {
    padding: 2rem 1rem;
    }
  
    @include shared.not-mobile {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
    }
  
    @include shared.tablet-only {
      line-height: 1.3;
    }
    * {
        margin: .5rem;
    }
}