@use "../../styles/shared.scss" as shared;

.form{
    display: flex;
    margin: 2rem 0rem 2rem 0rem;
    @include shared.mobile-only{
        flex-direction: column;
        align-items: center;
    }
}

.grid{
    display: flex;
    column-gap: 1rem;
    padding: .75rem;
    justify-content: center;
    &Container{
        position: relative;
        margin: 2rem 0rem 2rem 0rem;
        border: 2px solid #000000;
        border-radius: 9px;
        max-height: 75vh;
        overflow: hidden;
        max-width: 100%;
    }
}

.column{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
    align-items: center;
    min-width: 150px;
    border: 3px solid shared.$white;
    border-radius: 9px;
    &Header{
        z-index: 2;
        bottom: 0;
        width: 100%;
        @include shared.font-unbounded(600);
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 3rem;
        border-top: 3px solid gray;
        .textSurround{
            aspect-ratio: 1/1;
            height: 2.75rem;
            box-sizing: content-box;
            border-radius: 50%;
            background-color: shared.$white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .select{
            filter: invert(1);
        }
    }
}

.selected{
    background-color: shared.$light-blue;
    border-color: gray;
}


.values {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    overflow: hidden;
    margin-top: 1.6rem;
}
.values_table {
    width: 100%;
    border-collapse: collapse;
    tr {
        &:not(:last-child){
            border-bottom: 2px solid shared.$black;
        }
    }
    td, th {
        &:not(:last-child){
            border-right: 2px solid shared.$black;
        }
    }
    thead {
        background-color: shared.$light-blue;
        border-bottom: 2px solid shared.$black;
        @include shared.font-unbounded(500);
        font-size: 2rem;
        tr{
            height: 5rem;
        }
        tr td {
            @include shared.tablet-only{
                padding: 1.6rem .8rem 1.6rem .8rem;
            }
            @include shared.desktop-only{
                padding: 1.6rem 2rem 1.6rem 2rem;
            }         
        }
    } 
    tbody {
        @include shared.font-montserrat(500);
        font-size: 2rem;
        tr td {
                @include shared.tablet-only{
                    padding: 1.6rem .8rem 1.6rem .8rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 2rem 1.6rem 2rem;
                }
        }
        tr:hover{
            background-color: shared.$light-blue;
        } 
    }
    .center_align{
        text-align: center;
    }
}

.row{
    @include shared.font-unbounded(500);
    background-color: shared.$light-blue;
}