@use "../../styles/shared.scss" as shared;

.grid{
    display: flex;
    column-gap: 1rem;
}

.column{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
    align-items: center;
}