@use "../../styles/shared.scss" as shared;

.main {
  grid-column: 1 / 10;

  h1 {
    @include shared.font-unbounded(600);
    font-size: 2 * shared.$desktop-actionable-font-size;
    line-height: 2.5;
  }
}

.container {
  border: 2px solid black;
  border-radius: 9px;

  h3 {
    padding: 45px 0 0 40px;
    @include shared.font-unbounded(500);
    font-size: shared.$desktop-actionable-font-size;
  }
}

.items {
  @include shared.not-mobile {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
  }
}

.button {
  width: 47.5%;
  margin-top: 2 * shared.$desktop-spacing;

  p {
    @include shared.font-montserrat(400);
    font-size: 0.6 * shared.$desktop-reading-font-size;
  }
}

.arrow {
  @include shared.desktop-only {
    rotate: 90deg;
    padding: 5px 0 0 0;
  }

  @include shared.not-desktop {
    display: none;
  }
}
