$black: #000000;
$light-blue: #D9F5FC;
$white: #FEFDF3;

$mobileXspacing: 100vw/50;
$mobileYspacing: 100vh/106;

$mobile-spacing: 100vmin/50;

$tabletXspacing: 100vw/104.25;
$tabletYspacing: 100vh/149.25;

$tablet-spacing: 100vmin/104.25;

$desktopXspacing: 100vw/180;
$desktopYspacing: 100vh/128;

$desktop-spacing: 100vmin/128;