$black: #000000;
$light-blue: #D9F5FC;
$white: #FEFDF3;

$mobileXspacing: 100vw/50;
$mobileYspacing: 100vh/106;

$mobile-spacing: 100vmin/50;
$mobile-max-spacing: 100vmax/106;

$tabletXspacing: 100vw/104.25;
$tabletYspacing: 100vh/149.25;

$tablet-spacing: 100vmin/104.25;
$tablet-max-spacing: 100vmax/149.25;

$desktopXspacing: 100vw/180;
$desktopYspacing: 100vh/128;

$desktop-spacing: 100vmin/128;
$desktop-max-spacing: 100vmin/180;

/*Unified media queries*/
@mixin mobile-only {
    @media screen and (max-width:767px){
        @content;
    }
}
@mixin tablet-only {
    @media screen and (min-width:768px) and (max-width:1023px){
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width:1024px){
        @content;
    }
}
@mixin not-mobile {
    @media screen and (min-width:768px){
        @content;
    }
}

/*Used Fonts*/

@mixin font-montserrat($weight) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: $weight;
}

@mixin font-unbounded($weight) {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: $weight;
}

/*Grids*/
@mixin tablet-columns($columns: 8){
    column-gap: 2.5 * $tabletXspacing;
    grid-template-columns: repeat($columns,1fr);
}

@mixin desktop-columns($columns: 10) {
    gap: 0 2.5 * $desktopXspacing;
    grid-template-columns: repeat($columns,1fr);
}