@use '../../styles/shared.scss' as shared;

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: shared.$white;
    border: 2px solid #000000;
    border-radius: 9px;
    padding: 4rem 6.4rem 4rem 6.4rem;
    &_header{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    overflow-x: scroll;
    overflow-y: scroll;
}

.title{
    @include shared.font-unbounded(500);
    font-size: 6rem;
    margin-top: 1.6rem;
}

.option_title{
    @include shared.font-unbounded(300);
    font-size: 4rem;
    margin-bottom: 4rem;
    margin-top: 4.8rem;
}

.format_options{
    display: flex;
    column-gap: 8rem;
}

.format_text{
    @include shared.font-montserrat(400);
    font-size: 2rem;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.4rem;
}

.selected{
    background-color: shared.$light-blue;
}

.format_container{
    box-sizing: border-box;
    width: 150px;
    height: 144px;
    border: 2px solid #000000;
    border-radius: 9px;
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minWidth{
    width: min-content;
}

.result_options{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.result_button{
    padding: 1.4rem;
    border: 2px solid #000000;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    box-sizing: border-box;
    @include shared.font-unbounded(400);
    font-size: shared.$desktop-actionable-font-size;
}

.result_text{
    @include shared.font-montserrat(400);
    font-size: 1.6rem;
    text-align: center;
}