@use '../../styles/shared.scss' as shared;

.wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 30px;
    background-color: shared.$black;
}

.filterOptions {
    display: none;
    &_open{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        background-color: shared.$white;
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
    }
    &_item{
        width: 100%;
    }
}
.suggestions {
    list-style: none;
}