@use '../../styles/shared.scss' as shared;

.results {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    overflow: hidden;
    margin-top: 1.6rem;
}
.result_table {
    width: 100%;
    border-collapse: collapse;
    tr {
        &:not(:last-child){
            border-bottom: 2px solid shared.$black;
        }
    }
    thead {
        background-color: shared.$light-blue;
        border-bottom: 2px solid shared.$black;
        @include shared.font-unbounded(500);
        font-size: 1.6rem;
        tr td {
            &:first-child{
                @include shared.tablet-only{
                    padding: 1.6rem .8rem 1.6rem 2rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 2rem 1.6rem 4.4rem;
                }
            }
            &:last-child{
                @include shared.tablet-only{
                    padding: 1.6rem 2rem 1.6rem .8rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 4.4rem 1.6rem 2rem;
                }
            }
            &:not(:last-child):not(:first-child) {
                @include shared.tablet-only{
                    padding: 1.6rem .8rem 1.6rem .8rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 2rem 1.6rem 2rem;
                }   
            }        
        }
    } 
    tbody {
        @include shared.font-montserrat(500);
        font-size: 1.6rem;
        tr td {
            &:first-child{
                @include shared.tablet-only{
                    padding: 1.6rem .8rem 1.6rem 2rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 2rem 1.6rem 4.4rem;
                }
            }
            &:last-child{
                @include shared.tablet-only{
                    padding: 1.6rem 2rem 1.6rem .8rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 4.4rem 1.6rem 2rem;
                }
            }
            &:not(:last-child):not(:first-child) {
                @include shared.tablet-only{
                    padding: 1.6rem .8rem 1.6rem .8rem;
                }
                @include shared.desktop-only{
                    padding: 1.6rem 2rem 1.6rem 2rem;
                }
            }  
        }
        tr:hover{
            background-color: shared.$light-blue;
        } 
    }
    .center_align{
        text-align: center;
    }
}
.table_header{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.table_footer{
    margin-top: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.pagination{
        display: flex;
        @include shared.font-montserrat(400);
        font-size: 1.6rem;
        svg{
            fill: shared.$black;
        }
        .prev{
            transform: rotate(90deg);
            padding-left: .8rem;
            padding-right: .8rem;
        };
        .next{
            transform: rotate(-90deg);
            padding-left: .8rem;
            padding-right: .8rem;
        };
        .greyed{
            svg {
                fill: gray;
            }
        }
}

.downloadButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    min-width: 180px;
    width: 19%;
    background-color: shared.$light-blue;
    border-width: 2px 2px 4px 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 9px;
    @include shared.font-unbounded(500);
    font-size: 1.6rem;
}

.arrow{
    transform: rotate(90deg);
    height: 2rem;
    margin-left: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}